body {
    background: linear-gradient(to right, #5AB2FF, #A0DEFF);
    color: white;
}

.Nav {
    width: 100vw;
    height: 10vh;
    position: sticky;
    top: 0;
    backdrop-filter: blur(5px);
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
}

nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    height: 100%;
    width: 100%;
}

.logo {
    font-family: 'Permanent Marker', cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 2rem;
}

nav a {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 1em;
}