@import url('https://fonts.googleapis.com/css2?family=Handlee&family=Permanent+Marker&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 1rem;
}

body {
    font-family: 'Handlee', cursive;
}

h1 {
    font-family: 'Permanent Marker', cursive;
}

h1 {
    font-size: 2rem;
}

h2 {
    font-size: 1.5rem;
    text-decoration: underline;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    font-size: 1.5rem;
    font-style: italic;
}

a:hover {
    color: #A0DEFF;
}

