@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Permanent+Marker&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 1rem;
    overflow-x: clip;
}

@media only screen and (min-width: 1024px) {
    * {
        font-size: 1.2rem;
    }
  }

body {
    background: linear-gradient(to right, #5AB2FF, #A0DEFF);
    color: white;
}

.section {
    height: 100vh;
    width: 100vw;
    display: inline-block;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

@media only screen and (min-width: 1024px) {
    .section {
        height: 60vh;
    }
  }

#landing .section {
    height: 90vh;
}

h1 {
    font-family: 'Permanent Marker', cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 2rem;
}

@media only screen and (min-width: 1024px) {
    h1 {
        font-size: 2.2rem;
    }
  }

h2 {
    font-size: 1.5rem;
    text-decoration: underline;
}

@media only screen and (min-width: 1024px) {
    h2 {
        font-size: 1.7rem;
    }
  }

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    font-size: 1.5rem;
    color: white;
}

@media only screen and (min-width: 1024px) {
    a {
        font-size: 1.7rem;
    }
  }

a:hover {
    color: lightgrey;
}